{% extends "base.html" %} 

{% load static %} 

{% block extratitle %}- Welcome to the Northpole!{% endblock %}

{% block content %}
<!--Index to render landing page Hero image with links to signup-->
<div class="row">
    <div class="col col-12 d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome to the Hangry Elf</h1>
        <p>
            Santa's elves are hangry! They simply aren't themselves in this state 
            and are refusing to build all the toys that Santa needs to deliver in time for Christmas! 

            Your task, should you choose to accept this mission, is to cook one spectacular recipe every day
            for Santa's hangry elves. 

            Can you complete the challenge in time and save Christmas?

        </p>
    </div>
</div>
{% endblock %}