{% extends "base.html" %} 

{% load static %} 

{% block extratitle %}- Welcome to the Northpole!{% endblock %}

{% block content %}
<!--Index to render landing page Hero image with links to signup-->
<div class="row mt-5 mb-5">
    <div class="col col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="container recipe_wrapper mt-5">
            
            <!-- Start single recipe card HTML -->
            <div class="row">
                <h1><strong>{{ recipe.title }}</strong></h1>
            </div>
            <div class="row">
                <h2>{{ recipe.description }}</h2>
            </div>
            {% if recipe.author %}
            <div class="row">
                <h3>Author: {{ recipe.author }}</h3>
            </div>
            {% else %}
            <div class="row">
                <h3>Author unknown: ... but we're pretty sure it was this hangry elf! <img src="/media/hangry_elf_toast.png" alt="grumpy hungry elf"></h3>
            </div>
            {% endif %}
            <p><a href="{{ recipe.url }}" target="_blank">Original Recipe Here</a></p>

            <!-- To Show Ingredients List -->
            <div class="row">
                <div class="col-sm-6">
                    <h3>In order to make {{ recipe.title }} you will need:</h3>
                    <ul>
                        {% for ingredient in recipe.ingredients %}

                            <li>{{ ingredient }}</li>

                        {% endfor %}
                    </ul>
                </div>
            <!-- Vertical line -->
            <!-- <div class="col-sm-12 vertical_effect"></div> -->
            <!-- To Show List of recipe cooking methods -->
                <div class="col-sm left_vetical_line">
                {% for method in recipe.method %}

                    <p>{{ method }}</p>

                {% endfor %}
                </div>
            <!-- End single recipe card HTML-->
            </div>
        </div>

    </div>
</div>
{% endblock %}