{% extends "base.html" %} 

{% load static %} 

{% block extratitle %}- Welcome to the Northpole!{% endblock %}

{% block content %}
<!--Index to render landing page Hero image with links to signup-->
<div class="row">
    <div class="col col-12 d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome to the Hangry Elf</h1>
        <p>
            Santa's elves are hangry! They simply aren't themselves in this state 
            and are refusing to build all the toys that Santa needs to deliver in time for Christmas! 
            
            Your task, should you choose to accept this mission, is to cook one spectacular recipe every day
            for Santa's hangry elves. 
            
            Can you complete the challenge in time and save Christmas?
            
        </p>

        <div class="container recipe_wrapper">
            {% for recipe in recipes %}
            
            <!-- Start single recipe card HTML -->
            <div class="row">
                <h1><strong>{{ recipe.title }}</strong></h1>
            </div>
            <div class="row">
                <h2>{{ recipe.description }}</h2>
            </div>
            <div class="row">
                <h3>{{ recipe.author }}</h3>
            </div>
            <p><a href="#">{{ recipe.url }}</a></p>

            <!-- To Show Ingredients List -->
            <div class="row">
                <div class="col-sm-6">
                    <h3>In order to make {{ recipe.title }} you will need:</h3>
                    <ul>
                        {% for ingredient in recipe.ingredients %}

                            <li>{{ ingredient }}</li>

                        {% endfor %}
                    </ul>
                </div>
            <!-- Vertical line -->
            <!-- <div class="col-sm-12 vertical_effect"></div> -->
            <!-- To Show List of recipe cooking methods -->
                <div class="col-sm left_vetical_line">
                {% for method in recipe.method %}

                    <p>{{ method }}</p>

                {% endfor %}
                </div>
            <!-- End single recipe card HTML-->
            </div>
            
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}