/* Styles on the base.html */
body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('the-hangry-elf/image/upload/v1639346606/media/img/stock_background_1620x1080_p9h0u0.png');
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    letter-spacing: .1rem;
    font-weight: 400;
    color: #004700;
    overflow-x: hidden;
}

body a {
    text-decoration: none;
    color: #004700;
}

section {
    margin-bottom: -60px;
    padding-bottom: 60px;
}

section.container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-link, .footer-link {
    color:#004700;
}

footer.container {
    background-color: #FFF;
    height: 60px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}

a:hover {
    color:rgba(255, 0, 0, 0.801);
}

/* Snowing effect */
.snow_fx {
    z-index: -1;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/media/1_olhuqv.png"), url("/media/2_ll7zal.png"), url("/media/3_s4eva1.png");
    animation: snowfall 30s linear infinite;
    overflow: hidden;
    pointer-events: all;
} 

@keyframes snowfall {
    0%{
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100%{
        background-position: -500px 1000px, -400px 400px, 300px 700px;
    }
} 

/* Paper effect */

#paper {
    margin: 40px;
    padding-top: 2rem;
    width: 40rem;
    height: 460px;
    background: url('the-hangry-elf/image/upload/v1639346605/media/img/paper_13631071_k8xbb7.png');
    border-radius: 12px;
    box-shadow: 0 15px 24px rgba(0,0,0,.7);
    z-index: -1;
    text-align: center;
    font-size: 25px;
}

.paper-banner {
    position: relative;
    background: url('the-hangry-elf/image/upload/v1639346605/media/img/paper_13631071_k8xbb7.png');
    border-radius: 12px;
    box-shadow: 0 15px 24px rgba(0,0,0,.7);
    text-align: center;
    font-size: 25px;
}

/* Styles on advent.html */
#calendar_wrapper{
    margin: 40px auto;
}


.row .container_box{
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.the_card {
    /* width: 150px;
    height: 200px;
    border: 10px solid white;
    box-sizing: border-box;
    text-align: center;
    line-height: 50%;
    margin: 15px; */
    min-height: 120px;
    background-image: url("/media/card_pattern.jpg")
}

.the_card .card-header,
.the_card .card-body {
    background-color: antiquewhite;
    opacity: .5;
}


.the_card:hover {
    box-shadow: 0px 0px 15px white;
  }

.front_card {
    color: #004700;
    padding-top: 30%;
}

.front_card h3{
    font-size: 4em;
}

/* Animation styles for the card */

/* Card animation */
@keyframes shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
.card_animate {
    border-radius: 10%;  
}
  
.card_animate:hover {
    cursor: pointer;
    animation: shaking ease-in-out 0.5s infinite alternate;  
}


/*Styles for show_recipes.html */
.recipe_wrapper {
    text-align: center;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

.recipe_wrapper h2 {
    color: blueviolet;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.left_vetical_line{
    border-left: solid;
    border-color: #004700;
}

/* Media Queries */

@media (max-width: 480px) {
    #home-link {
      display: none;
    }
    #icon-link {
        display: block !important; 
    }
  }
@media screen and (min-width: 768px) {
    section.container {
        padding-top: .8rem;
    }
    
}
