/* Styles on the base.html */
body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('/media/img/stock_background_1620x1080.png');
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    color: #004700;
}

section {
    margin-bottom: -60px;
    padding-bottom: 60px;
}

section.container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-link , .footer-link {
    color:#004700;
}

footer.container {
    background-color: #FFF;
    height: 60px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}

a:hover {
    color:rgba(255, 0, 0, 0.801);
}

/* Snowing effect */
.snow_fx {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/media/1.png"), url("/media/2.png"), url("/media/3.png");
    animation: snowfall 30s linear infinite;
} 

@keyframes snowfall {
    0%{
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100%{
        background-position: -500px 1000px, -400px 400px, 300px 700px;
    }
} 

/* Styles on advent.html */
.row .container_box{
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 25px;
    width: 100%;
}

.the_card {
    width: 300px;
    height: 200px;
    /* border: 2px solid red; */
    background-color: lightpink;
    text-align: center;
    padding-top: 35px;
    line-height: 50%;
    margin: 15px;
}

.the_card:hover {
    box-shadow: 0px 0px 15px white;
  }

/* Styles per card */
/* Card one */
#card_one {
    border-radius: 15%;  
}
  
#card_one:hover {
    cursor: pointer;
    animation: breathing ease-in-out 1s infinite alternate;  
}

@keyframes breathing {
    0% { transform: scale3d(1, 1, 1); }
    100% { transform: scale3d(1.05, 1.05, 0.7); }
}

/* Card two */
@keyframes shaking {
    0% { transform: scale3d(1, 1, 1) rotate(3deg); }
    100% { transform: scale3d(1.05, 1.05, 0.7) rotate(-3deg); }
}
  
#card_two {
    border-radius: 10%;  
}
  
#card_two:hover {
    cursor: pointer;
    animation: shaking ease-in-out 1s infinite alternate;  
}

/* Card three */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  
#card_three {
   border-radius: 10%;  
}
 
#card_three:hover {
    cursor: pointer;
    animation: shake ease-in-out 3s infinite alternate;  
}

/* Card four */
@keyframes shakeshake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
#card_four {
    border-radius: 10%;  
}
  
#card_four:hover {
    cursor: pointer;
    animation: shakeshake ease-in-out 0.5s infinite alternate;  
}

/* Card five */
#card_five {
    border-radius: 50%;
  }
  
  @keyframes wiggle {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
  }
  
#card_five:hover {
    cursor: pointer;
    animation: wiggle ease-in-out 1s infinite alternate;
}

/* Card six */
#card_six {
    background-color: transparent;
    perspective: 1000px;
    border-radius: 50%;
    padding: 0;
  }
  
 #card_six .card_container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 50%;
}
  
#card_six:hover .card_container {
    transform: rotateY(360deg);
}
  
#card_six .front_card, #card_six .back_card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
#card_six .front_card {
    background-color: rgb(214, 163, 255);
    color: black;
    border-radius: 50%;
}
  
#card_six .back_card {
    background-color: #FFF;
    color: black;
    transform: rotateY(180deg);
    border-radius: 50%;
}


/* Card seven */
#card_seven {
    border-radius: 50%;
  }
  
@keyframes flip {
    20% { transform: rotateX(0);}
    /* 40% { transform: rotateY(0.50turn);} */
    100% { transform: rotateX(1980deg); }
}
  
#card_seven:hover {
    cursor: pointer;
    animation: flip ease-in-out 5s infinite alternate;
}

/* Card eigth */
#card_eight {
  border-radius: 50%;
}

@keyframes spin {
  20% { transform: rotateY(0);}
  /* 40% { transform: rotateY(0.50turn);} */
  100% { transform: rotateY(1980deg); }
}

#card_eight:hover {
  cursor: pointer;
  animation: spin ease-in-out 3s infinite alternate;
}

@media screen and (max-width: 768px) {
    .row {
        padding: 5px;
    }
    
}