/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

/* Styles on the base.html */
body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('https://res.cloudinary.com/the-hangry-elf/image/upload/v1639375382/media/img/stock_background_375x549_tlmo0b.png');
        background-position: top;
        background-size: contain;
        background-repeat: repeat;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    letter-spacing: .1rem;
    font-weight: 700;
    color: #004700;
    overflow-x: hidden;
}

body a {
    text-decoration: none;
    color: #004700;
}

.message-container .toast-container .position-absolute .p-3 .d-flex .flex-column .align-items-end .w-100 .p-3 .top-0 #toast-placement {
    top: 2rem !important;
}

.toast-body #naughty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid red;
    border-radius: 6px;
    padding: .8rem;
    text-align: center;
    background-color: antiquewhite;
    font-weight: 700;
    min-height: 6rem;
    min-width: 20rem;
}

section {
    margin-bottom: -60px;
    padding-bottom: 60px;
}

section.container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-link, .footer-link {
    color:#004700;
}

footer.container {
    background-color: #FFF;
    height: 60px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}

a:hover {
    color:rgba(255, 0, 0, 0.801);
}

.error-page {
    background-color: antiquewhite; 
    display:flex; 
    flex-direction: column; 
    border: 2px solid black; 
    border-radius: 4px;
}

/* Snowing effect */
.snow_fx {
    z-index: -1;
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://res.cloudinary.com/the-hangry-elf/image/upload/v1639346119/media/1_olhuqv.png"), url("https://res.cloudinary.com/the-hangry-elf/image/upload/v1639346116/media/2_ll7zal.png"), url("https://res.cloudinary.com/the-hangry-elf/image/upload/v1639346112/media/3_s4eva1.png");
    -webkit-animation: snowfall 30s linear infinite;
            animation: snowfall 30s linear infinite;
    overflow: hidden;
    pointer-events: all;
} 

@-webkit-keyframes snowfall {
    0%{
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100%{
        background-position: -500px 1000px, -400px 400px, 300px 700px;
    }
} 

@keyframes snowfall {
    0%{
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100%{
        background-position: -500px 1000px, -400px 400px, 300px 700px;
    }
} 

/* Paper effect */

#paper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 2rem 0;
    padding: 2rem;
    min-width: 85vw;
    max-width: 85vw;
    height: 540px;
    background: url('https://res.cloudinary.com/the-hangry-elf/image/upload/v1639376541/media/img/paper_13631071_ysup2q.webp') no-repeat;
    background-size: cover;
    border-radius: 12px;
    -webkit-box-shadow: 0 15px 24px rgba(0,0,0,.7);
            box-shadow: 0 15px 24px rgba(0,0,0,.7);
    z-index: -1;
    text-align: center;
    font-size: 1.2rem;
}

.paper-banner {
    position: relative;
    background: url('https://res.cloudinary.com/the-hangry-elf/image/upload/v1639376541/media/img/paper_13631071_ysup2q.webp') no-repeat;
    background-size: cover;
    border-radius: 12px;
    -webkit-box-shadow: 0 15px 24px rgba(0,0,0,.7);
            box-shadow: 0 15px 24px rgba(0,0,0,.7);
    text-align: center;
    font-size: 25px;
    min-width: 90vw;
    max-width: 90vw;
}

/* Styles on advent.html */
#calendar_wrapper{
    margin: 40px auto;
}


.row .container_box{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
}

.the_card {
    border: 1px solid azure;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 50%;
    background-image: url("https://res.cloudinary.com/the-hangry-elf/image/upload/v1639365339/media/card_pattern_sphrim.jpg");
}

.the_card .card-header {
    background-color: antiquewhite;
    color: black;
    border-radius: 6px;
    opacity: .8;
}

.card-body i {
    
    font-size: 1.8rem;
}

.the_card:hover {
    -webkit-box-shadow: 0px 0px 15px white;
            box-shadow: 0px 0px 15px white;
  }

.front_card {
    color: #004700;
    padding-top: 30%;
}

.front_card h3{
    font-size: 4em;
}

/* Animation styles for the card */

/* Card animation */
@-webkit-keyframes shaking {
    0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
  }
@keyframes shaking {
    0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
  }
  
.card_animate {
    border-radius: 10%;  
}
  
.card_animate:hover {
    cursor: pointer;
    -webkit-animation: shaking ease-in-out 0.5s infinite alternate;
            animation: shaking ease-in-out 0.5s infinite alternate;  
}


/*Styles for show_recipes.html */
.recipe_wrapper {
    text-align: center;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

.recipe_wrapper h2 {
    color: blueviolet;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.left_vetical_line{
    border-left: solid;
    border-color: #004700;
}

/* Media Queries */

@media (max-width: 480px) {
    #home-link {
      display: none;
    }
    #icon-link {
        display: block !important; 
    }
  }
@media screen and (min-width: 768px) {
    body {
        background-image: url('https://res.cloudinary.com/the-hangry-elf/image/upload/v1639375385/media/img/stock_background_740x1080_nv7gqd.png');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    section.container {
        padding-top: .8rem;
    }
    #paper {
        font-size: 1.7rem;
    }
    #paper,
    .paper-banner {
        min-width: 85vw;
        max-width: 85vw;
    }
    #toast-placement .top-0 {
        top: 8rem !important;
    }

}
@media screen and (min-width: 1024px) {
    #paper,
    .paper-banner {
        min-width: 60vw;
        max-width: 60vw;
    }
    #toast-placement .top-0 {
        top: 12rem !important;
    }
}
@media screen and (min-width: 1366px) {
    body {
        background-image: url('https://res.cloudinary.com/the-hangry-elf/image/upload/v1639346606/media/img/stock_background_1620x1080_p9h0u0.png');
    }
    #paper,
    .paper-banner {
        min-width: 40vw;
        max-width: 40vw;
    }
    #toast-placement .top-0 {
        top: 18rem !important;
    }
}