{% extends "base.html" %} 

{% load static %} 

{% block extratitle %}- Calendar Page{% endblock %}

{% block content %}
<!--Profile to render user's Advent Calendar-->
<div id="calendar_wrapper">
    <div class="row container_box">
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3><strong>1</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>2</h3>                            
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>3</h3>                            
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>4</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>5</h3>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row container_box">
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>4</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>5</h3>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row container_box">
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>4</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>5</h3>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row container_box">
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>4</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>5</h3>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row container_box">
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>4</h3>
                        </div>
                    </div>
                </div>
                <div class="the_card col-md-2 card_animate">
                    <div class="card_container">
                        <div class="front_card">
                            <h3>5</h3>
                        </div>
                    </div>
                </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'advent_calendar/js/calendar.js' %}"></script>

{% endblock %}