{% extends "base.html" %} 

{% load static %} 

{% block extratitle %}- Calendar Page{% endblock %}

{% block content %}
<!--Profile to render user's Advent Calendar-->
    <div class="row mt-1 d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-5 mb-2 p-5 paper-banner">
            <h1>Beware!</h1>
            <p>Santa's elves are refusing to create the toys needed for Christmas. All of them are hangry, but the 25 hangriest were stowed away and told to pick their favorite recipe!</p>
            <p>Unlock and complete one recipe per day to feed the elves and save Christmas!</p>
            <p>Today is {{ current_date }}</p>
        </div>
    </div>
    <div class="row mt-1">
        {% for day in calendar.days.all %}
        
        <div class="col-6 col-md-3 col-lg-2 mt-4 mb-2">
            <div class="card card_animate the_card p-3">
                <h4 class="card-header"><strong>{{ day.date }}</strong></h4>
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    {% if day.date <= current_date %}
                    <a href="{% url 'show_recipe' day.days_recipe.id %}" class="btn btn-success" aria-disabled="false">Unlock</a>
                    {% if day.done %}
                    <span><i class="fas fa-check-square pt-3"></i></span>
                    {% else %}
                    <a href="{% url 'mark_complete' day.id calendar.advent_calendar_number %}"><i class="far fa-check-square pt-3"></i></a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'naughty' %}" class="btn btn-secondary" disabled aria-disabled="true">Locked</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'advent_calendar/js/calendar.js' %}"></script>

{% endblock %}