<div role="alert" aria-live="assertive" aria-atomic="true" class="toast d-flex justify-content-center align-items-center p-3 mt-1" style="z-index: 11">
    <div class="toast-body d-flex flex-row justify-content-evenly align-items-center">
        <span><strong>{{ message }}</strong></span>
        <img src="https://res.cloudinary.com/the-hangry-elf/image/upload/v1639346096/media/hangry_elf_toast_f4viur.png" class="rounded me-2 end-0" alt="elf making a list" style="height:105px; width:86px;">
    </div>
    <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
</div>