<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ message }}
     </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>


<div class="message-container toast-container d-flex flex-column justify-content-center align-items-end w-100">
  {% if messages %}

    {% for message in messages %} 
    {% with message.level as level %} 
    {% if level == 40 %} 
        {% include 'includes/toasts/toast_error.html' %} 
    {% elif level == 30 %} 
        {% include 'includes/toasts/toast_warning.html' %} 
    {% elif level == 20 %} 
        {% include 'includes/toasts/toast_info.html' %} 
    {% else %} 
        {% include 'includes/toasts/toast_success.html' %} 
    {% endif %}
    {% endwith %} 
    {% endfor %}

  {% endif %}
</div>

{% block postloadjs %}
<script>
  const options = {
    autohide: true,
    delay: 3500,
  }
  window.onload = (event) => {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, options).show()
    })
  }
</script>
{% endblock %}